.DraftDetailsheader {
  background-color: white;
  padding: 70px 0;
  position: relative;
}

.filter {
  position: absolute;
  bottom: 15px;
}

.filter > * {
  color: var(--dark-gray);
  border-bottom: 2px solid var(--dark-gray);
  padding-bottom: 15px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  /* padding: 0 5px; */
}
.filter .active-link {
  border-color: var(--primary-blue);
  margin: 0px 30px;
}
.newHeader {
  background-color: #006c68;
  padding: 70px 0;
  position: relative;
  color: white;
}
.header-content {
  padding: 0 !important;
}
.newHeader ul {
  margin: 0;
  padding: 0;
  display: flex;
  opacity: 0.7;
}
.newHeader ul li {
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 13px;
}
.newHeader ul li:not(:last-child)::after {
  content: '>';
  color: #fff;
  margin: 0 10px;
}
.newHeader .sub-header {
  color: #fff;
  opacity: 0.7;
  margin-top: 10px;
}
.newHeader button {
  margin-top: 30px;
  border: 1px solid #84bc47;
  color: #fff;
  background-color: transparent;
}
.newHeader .icons-group p {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}
.newHeader .icons-group h5 {
  font-size: 16px;
  color: #84bc47;
  font-weight: 600;
}
.newHeader .icons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 50px 0;
}
.newHeader .icons-group > * {
  margin: 20px;
  padding: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
}
.cardDraft {
  margin-top: 80px;
}
.cardDraft .card-header {
  background-color: #046f6d;
  color: #fff;
}
.cardDraft .card-body .draftBodyRt p {
  color: #000;
  font-weight: 600;
}
.dateDraft p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
  margin-right: 15px;
}
.draftCardLt img {
  width: 17px;
  margin-left: 10px;
}
.draftCardLt div {
  margin-bottom: 15px;
}
.draftCardLt p {
  color: #006c68;
}
.hrDraft {
  border-color: #046f6d;
}
.collapseDraftCard {
  margin-top: 25px;
}
.draftContainer {
  background-color: #fff;
  padding: 80px 0;
  margin-top: -80px;
  border-bottom: 1px solid #046f6d;
  position: relative;
}
.client-layout .flex-page-content main {
  padding-bottom: 0;
}
.collapseDraftCard .card-header {
  cursor: pointer;
}
.collapseDraftCard .card-header p {
  margin-bottom: 0;
  color: #fff;
}
.collapseDraftCard .card-header p span {
  margin-left: 10px;
}
.collapseDraftCard .card-header img {
  width: 13px;
}
.collapseDraftCard .card-header img.rotated {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}
.collapseDraftCard .card-body {
  background-color: #f3f3f3;
}
.draftContainer .card-body {
  border: 1px solid #046f6d;
}
.collapseDraftCard button {
  border: 1px solid #84bc47;
  color: #84bc47;
  display: flex;
  background-color: transparent;
  margin: auto;
  margin-top: 40px;
}
.draftShouldLogin {
  border: 1px solid #046f6d;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.draftShouldLogin > img {
  height: 35px;
  margin-bottom: 20px;
}
.draftShouldLogin h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
.draftShouldLogin button {
  width: 200px;
  margin: auto;
  border: 1px solid #84bc47;
  background-color: transparent;
  color: #006c68;
  margin-bottom: 10px;
  font-weight: 13px;
}
.draftShouldLogin a {
  color: #006c68;
  text-decoration: underline !important;
  font-weight: 600;
}
.draftBg1 {
  position: absolute;
  right: 0;
  top: 0;
}
.draftBg2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.newHeader button:hover {
  background-color: #84bc47;
  color: #fff;
}
.draftShouldLogin button:hover {
  background-color: #006c68;
  color: #fff;
}
.cardDraft.collapseDraftCard.card button:hover {
  background-color: #84bc47;
  color: #fff;
}
button.btn.btn-secondary:hover img {
  filter: brightness(0) invert(1);
}
.collapseDraftCard .insideComment {
  display: block !important;
}
.collapseDraftCard .insideComment .draftLikeDislike {
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .newHeader .icons-group > * {
    width: 80%;
  }
}
