.aboutpage {
  background-color: white;
  padding: 0;
  margin-bottom: -100px;
  padding-bottom: 100px;
}
.aboutpage .image-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.aboutpage .about-card {
  background-color: var(--normal-gray);
  height: 150px;
  padding: 20px 10px;
  margin: 10px;
}

.aboutheader {
  background-color: #006c68;
  padding: 70px 0;
  padding-top: 15px;
}
@media (max-width: 768px) {
  main.user-loggedin .aboutheader {
    background-color: transparent !important;
  }
}
