.marl-auto {
  margin-left: auto;
  margin-right: 0;
}

.to-left-center {
  margin: auto;
  margin-left: 0;
}

.h-full {
  height: 100%;
}

.action-items-modal,
.action-items-modal-draft {
  align-items: baseline;
}
.star {
  min-width: 100px;
}

@media screen and (max-width: 768px) {
  .action-items-modal,
  .action-items-modal-draft {
    display: flex;
    align-items: baseline;
  }

  .star {
    min-width: auto;
    flex: 1;
    font-size: 14px;
  }

  .action-items-modal .star span,
  .action-items-modal-draft .star-draft span {
    text-align: center;
  }
}
