.action-items {
  display: flex;
  justify-content: center;
}
.action-items > * {
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid;
  border-radius: 25px;
  width: 120px;
  text-align: center;
}
.action-items .done {
  border-color: #9bc869;
  color: #9bc869;
}
.action-items .error {
  border-color: crimson;
  color: crimson;
}
.modal-content h4 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.button-comment {
  margin: 20px 0;
}

.modal-title {
  width: 100%;
}
.header {
  width: 100%;
  border: none;
  border-radius: 0;
  color: white;
}

.button-comment {
  float: right;
  color: white;
  border-color: #84bc47;
  background-color: #84bc47;
  float: left;
}
