.register-container {
  margin-bottom: -100px;
  align-items: center;
}

.qarar-image {
  width: 40%;
}

.register-content {
  display: flex;
  min-height: 200px;
  width: 60%;
}

.custom-container {
  width: 60%;
  margin: 0 auto;
  padding: 60px 0;
}
.register-content {
  display: flex;
  min-height: 200px;
}
.register-content form {
  margin: 50px 0;
}
.register-content .abs-states {
  width: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* flex-flow: column;
  justify-content: space-between; */
}
.register-content .form-horizontal {
  width: 80%;
  padding: 50px 0;
}
.abs-states .line {
  height: 100px;
  width: 1px;
  background-color: var(--normal-gray);
  /* margin-right: 1px; */
  position: relative;
}
.step3 {
  height: 300px;
}
.abs-states .line.active::after,
.abs-states .line.done::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: var(--primary-blue);
}
.abs-states .line.active::after {
  height: 50%;
}
.abs-states .line.done::after {
  height: 100%;
}
.register-content .abs-states span {
  background-color: var(--normal-gray);
  color: var(--dark-gray);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.register-content .abs-states span.active,
.register-content .abs-states span.done {
  background-color: var(--primary-blue) !important;
  color: white;
}
.register-content .abs-states span.active::after {
  position: absolute;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-blue);
}

.qarar-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navHeader {
  background-color: #006c68;
  height: 85px;
  width: 100%;
}
.register-content .custom-container {
  padding-top: 0;
}
@media (max-width: 768px) {
  .register-container {
    /* flex-flow: row-reverse; */
  }
  .register-container > * {
    width: 100%;
  }
  .register-container {
    flex-flow: column-reverse;
  }
}
