.opt-tabs .nav-link,
.opt-tabs .nav-link:hover {
  border: 3px solid #1e6f6d;
  border-radius: 0;
  color: #1e6f6d !important;
  text-align: center;
  font-weight: bold;
}
.opt-tabs .nav-item:hover a {
  background-color: none !important;
}
.opt-tabs .nav-link::after {
  display: none !important;
}
.opt-tabs .nav-link.active,
.opt-tabs .nav-link.active:hover {
  background-color: #1e6f6d !important;
  border: 3px solid #1e6f6d !important;
  color: white !important;
}
.opt-tabs .nav-item {
  margin-right: 0 !important;
  text-decoration: none !important;
}
.opt-tabs a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none !important;
}
.opt-tabs .tab-content {
  border: none !important;
}

.opt-tabs .tab-content .tab-pane.bold.active {
  background-color: white !important;
}
.borderright0 {
  border-right: 0 !important;
}
