.flex-users-card-edit .abs-remove-icon {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #df004e;
  color: white;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
/* .flex-users-card-edit:hover .abs-remove-icon {
  display: flex;
} */
.flex-show {
  display: flex !important;
}
.flex-users-card-edit > .custom-card {
  position: relative;
  padding: 20px;
  background-color: white;
  border: 1px solid #d1d0d0;
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-dark-wait {
  padding: 20px;
  position: relative;
  border-radius: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: var(--secondary);
}
