.landing-container {
  padding: 100px 0;
  min-height: calc(100vh - 50px);
}

.action-buttons {
  border-right: 1px solid #3333333b;
  padding: 0px 20px;
  font-weight: 700;
}
.action-buttons > * {
  margin: 0px 20px;
}

.header h2 {
  font-size: 32px;
  margin-bottom: 0;
  color: #81bd41;
  font-weight: 600;
}
.header h3 {
  font-size: 16px;
  margin-top: 15px;
}
.section-flex .icons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 50px 0;
}
.section-flex .icons-group .image-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.section-flex .icons-group .icon-border {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-group h3 {
  font-size: 16px;
  font-weight: 500;
}
.section-flex .icons-group > * {
  margin: 20px;
  padding: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-flex .icons-group > * > div {
  display: flex;
  justify-content: center;
}
.section-flex .icons-group i {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.args {
  background-color: var(--primary-blue);
  text-align: center;
  color: white;
  padding: 72px 0px;
  margin-bottom: -100px;
}
.args p {
  font-size: 28px;
  color: white;
  margin-bottom: 32px;
}
.args .btn {
  background-color: white !important;
  border-color: white !important;
  padding: 0 28px;
}
.args .btn:hover {
  color: #00aaba !important;
}

.header-button {
  background-color: rgba(0, 170, 186, 0.5);
  padding-left: 28px;
  padding-right: 28px;
  border: none;
}
.opactiy-8 {
  opacity: 0.8;
}
/* start newUILanding */
.newUILanding .header-image-bg {
  height: 80vh;
}
.newUILanding .header-image-bg .section {
  padding-top: 100px;
}
.newUILanding .header h2 {
  margin-top: 85px;
}
.newUILanding .icons-group p {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}
.newUILanding .icons-group h5 {
  font-size: 16px;
  color: #81bd41;
  font-weight: 600;
}
.header-button {
  background-color: transparent;
  border: 2px solid #81bd41;
  border-radius: 25px;
}
.header-button i {
  margin-right: 10px;
}
