.landing-container {
  padding: 100px 0;
  min-height: calc(100vh - 50px);
}

.action-buttons {
  border-right: 1px solid #3333333b;
  padding: 0px 20px;
  font-weight: 700;
}
.action-buttons > * {
  margin: 0px 20px;
}

.header h2 {
  font-size: 32px;
  margin-bottom: 0;
  color: #84bc47;
  font-weight: 600;
}
.header h3 {
  font-size: 16px;
  margin-top: 15px;
}
.section-flex .icons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 50px 0;
}
.section-flex .icons-group .image-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.section-flex .icons-group .icon-border {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-group h3 {
  font-size: 16px;
  font-weight: 500;
}
.section-flex .icons-group > * {
  margin: 10px;
  padding: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21%;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 0px;
}

.section-flex .icons-group > * > div {
  display: flex;
  justify-content: center;
}
.section-flex .icons-group i {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.args {
  background-color: #046f6d;
  text-align: center;
  color: white;
  padding: 72px 0px;
}
.args p {
  font-size: 28px;
  color: white;
  margin-bottom: 32px;
}
.args .btn {
  background-color: white !important;
  border-color: white !important;
  padding: 0 28px;
}
.args .btn:hover {
  color: #fff !important;
}

.header-button {
  background-color: rgba(0, 170, 186, 0.5);
  padding-left: 28px;
  padding-right: 28px;
  border: none;
}
.opactiy-8 {
  opacity: 0.8;
}
/* start newUILanding */
.newUILanding .header-image-bg {
  min-height: 50vh;
  position: relative;
}
.heroPattern {
  position: absolute;
  left: 0;
  top: 15vh;
  width: 128px;
}

.newUILanding .header-image-bg .section {
  padding-top: 100px;
}
.newUILanding .btn img {
  width: 15px;
  margin-right: 10px;
}
.newUILanding .header h2 {
  margin-top: 24px;
}
.newUILanding .icons-group p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}
.newUILanding .icons-group h5 {
  font-size: 16px;
  color: #84bc47;
  font-weight: 600;
}
.header-button {
  background-color: transparent;
  border: 2px solid #84bc47;
  border-radius: 25px;
}
.header-button i {
  margin-right: 10px;
}
.newUILanding .activities {
  background-color: #fff;
}
.newUILanding .activities h2 {
  color: #84bc47;
  font-weight: 600;
  margin-bottom: 0;
}
.newUILanding .activities .btn-group .btn {
  border: 2px solid #006c68;
  border-radius: 0 !important;
  background-color: transparent;
  color: #006c68;
  width: 200px;
  margin: 0 !important;
}
.newUILanding .activities .btn-group .btn.active {
  background-color: #006c68 !important;
  color: #fff;
}
.newUILanding .activities .oneActivity {
  border-radius: 5px;
  border: 1px solid #046f6d;
  padding: 10px;
  box-shadow: 0px 5px 10px #0000000d;
}
.newUILanding .activities .col-lg-3 {
  padding: 10px;
}
.newUILanding .activities .oneActivity h4 {
  font-size: 16px;
  font-weight: 600;
  color: #006c68;
  margin-bottom: 15px;
}
.newUILanding .activities .oneActivity img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-left: 10px;
}
.newUILanding .activities .oneActivity p {
  color: #006c68;
}
.newUILanding .activities .btn {
  margin-top: 80px;
  border-radius: 25px;
  color: #84bc47;
  border-color: #84bc47;
}

.newUILanding .activities .btn:hover {
  color: white;
}
.newUILanding .activities .btn i {
  color: #84bc47;
}
.newUILanding .topSingle {
  background-color: #fff;
  box-shadow: 0px 5px 10px #0000000d;
  border-radius: 5px;
  padding: 25px 20px;
  margin-bottom: 15px;
}
.newUILanding .social-sharing h2 {
  text-align: right;
  font-weight: 600 !important;
  color: #006c68 !important;
  margin-bottom: 0;
}
.newUILanding .social-sharing h5 {
  text-align: right;
  color: #84bc47 !important;
  margin-bottom: 30px;
  font-size: 13px;
  margin-top: 6px;
  font-weight: 600;
}
.newUILanding .topSingle .singleName p {
  margin-bottom: 0;
  font-weight: 600;
  color: #006c68;
  font-size: 12px;
}
.newUILanding .topSingle .singleName span {
  color: #006c68;
  font-size: 12px;
}
.newUILanding .topSingle .trophy {
  margin-right: auto;
}
.newUILanding .topSingle .trophy span {
  color: #006c68;
  font-size: 12px;
  margin-right: 10px;
}
.newUILanding .topSingle .trophy img {
  width: 14px;
  object-fit: contain;
}
.newUILanding .topSingle .avatar {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
.singleConnectInfo {
  background-color: #fff;
  box-shadow: 0px 5px 10px #0000000d;
  border-radius: 5px;
  padding: 25px 20px;
}
.singleConnectInfo img {
  height: 45px;
  object-fit: contain;
  margin: auto;
}
.singleConnectInfo h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  color: #006c68;
}
.singleConnectInfo p {
  color: #84bc47;
  font-weight: 600;
}
.newUILanding .social-sharing {
  background-image: url(/static/img/interactive/collective.svg);
  background-repeat: no-repeat;
  background-position: -40% 80%;
  background-color: #fafafa;
}
.rightSide {
  position: relative;
  width: 100%;
  height: 304px;
}
.rightSide img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}
.newsInfo {
  position: relative;
  z-index: 99;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    to top,
    rgba(1, 1, 24, 0.801),
    rgba(255, 0, 0, 0)
  );
  border-radius: 5px;
}
.blogger {
  background-color: #fff;
  background-image: url(/static/img/interactive/news.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.blogger h2 {
  color: #006c68;
  font-weight: 600;
  margin-bottom: 0;
}
.blogger .btn-group {
  border-radius: 0;
}
.blogger .btn-group .btn {
  border-radius: 0 !important;
  border: 2px solid #84bc47;
  background-color: transparent;
  color: #84bc47;
  width: 200px;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}
.blogger .btn-group .btn.active {
  background-color: #84bc47 !important;
  border-color: #84bc47 !important;
  color: #fff;
}
.newUILanding .blogger img {
  object-fit: cover;
}
.blogger h3 {
  font-size: 20px !important;
  color: #fff;
  margin-right: 15px;
  font-weight: 600;
}
.blogger p {
  margin-right: 15px;
  color: #fff;
}
.leftSide {
  position: relative;
  width: 100%;
  height: 145px;
  margin-bottom: 15px;
}
.leftSide img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}
.leftSide .newsInfo {
  position: relative;
  z-index: 99;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.leftSide h3 {
  font-size: 14px;
}
.blogger .btn {
  border-radius: 25px;
  border: 1px solid #84bc47;
  color: #84bc47;
  width: 150px;
  margin-top: 50px;
}
.blogger .btn i {
  color: #84bc47;
}
.args {
  position: relative;
}
.args .bg1 {
  position: absolute;
  top: 17%;
  right: -350px;
}
.args .bg2 {
  position: absolute;
  top: 17%;
  left: -350px;
}
.args .btn {
  border-radius: 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent !important;
  font-weight: 400;
  margin-top: 40px;
}
.header-button:hover {
  background-color: #84bc47;
  border-color: #84bc47;
}
.newsInfo {
  cursor: pointer;
}
.leftSide p {
  display: none;
}
.newUILanding .activities .btn-group .btn:hover {
  background-color: #006c68;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .section-flex .icons-group > * {
    width: 48%;
  }
  .newUILanding .activities .btn-group .btn {
    width: auto;
  }
  .newUILanding .activities .d-flex.justify-content-between.align-items-center {
    flex-direction: column;
  }
  .newUILanding .activities h2 {
    margin-bottom: 20px;
  }
  .newUILanding .activities .btn-group .btn {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .section-flex .icons-group > * {
    width: 100%;
  }
  .newUILanding .activities {
    background-image: none;
  }
  .singleConnectInfo {
    margin-bottom: 15px;
  }
  .newUILanding .blogger .d-flex.justify-content-between.align-items-center {
    flex-direction: column;
  }
  .newUILanding .blogger h2 {
    margin-bottom: 15px;
  }
  .newUILanding .blogger .btn-group .btn {
    width: auto;
  }
  .rightSide {
    margin-bottom: 15px;
  }
  .heroPattern {
    display: none;
  }
  .blogger {
    background-image: none;
  }
  .rightSide,
  .leftSide {
    height: 250px;
  }
  .leftSide p {
    display: block;
  }
  .activities .btn-group {
    display: block;
  }
  .activities .btn-group .btn:first-child {
    display: block;
    width: 100%;
  }
  .newUILanding .social-sharing {
    background-image: none;
  }
  .footer .col-sm-6 {
    width: 50%;
    margin-bottom: 10px;
  }
}
