.drop-header a.dropdown-toggle:hover {
  background-color: transparent !important;
  color: #313131 !important;
}

.notifications .sub-header {
  margin-bottom: 0px !important;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
}

@-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
.loader-label {
  float: none;
  margin-left: auto;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(-50%);
  transform: translateX(0%);
  margin: -3px 0px 9px 0px !important;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1;
  color: #07706d !important;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  font-weight: 600;
  background: #fff !important;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px 4px 0 0;
}
