.drop-header a.dropdown-toggle:hover {
  background-color: transparent !important;
  color: #313131 !important;
}

.notifications .sub-header {
  margin-bottom: 0px !important;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
}
